@import "./src/color";


.NavLinks{
        
    background-color: $primeryColor !important;
    color: $secondryColor !important; 

    &:hover{
        color: $primeryColor !important;
        background-color: $secondryColor !important;   
    }
}


.drapdownactiveClass{
    color: $primeryColor !important;
    background-color: $secondryColor !important; 

}